body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Alegreya Sans SC', 'serif';
    background-color: #f1f1f1;
    background-image:  url("../images/concrete_seamless.png");
  }
  
  header{
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    flex-basis: auto;
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }
  .nav_links{
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav_item a:visited{
    color: blue;
  }

  .pricing{
    display: flex;
    min-height: 475px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 12px;
    flex-basis: auto;
    width: 450px;
    justify-content: center;
  }

  .card header{
    border: solid 2px #45ADAD;
    display: flex;
    flex-basis: auto;
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px 20px 0px;
    border-radius: 7px 7px 0px 0px;
    width: 450px;
    justify-content: center;
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
  }

  .card_big{
    -webkit-transform: initial;
            transform: initial;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
  }

  .gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }

  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  @keyframes logo_ani {
    from {width: 50px; opacity: 0;}
    to {width: 425px; opacity: 1;}
  }

  #logo{
    animation-name: logo_ani;
    animation-duration: 5s;
  }
  @media screen and (min-width: 850px){
    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
  }
    header:first-of-type{
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        top: 0;
        position: sticky;
        justify-content: space-between;
    }
    .card{
      width:250px;
      align-items:space-evenly;
    }
    .pricing{
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    .card header{
        position:static;
        justify-content: center;
        flex-basis: 250px;
        width:250px;
    }
  }
  @media (prefers-reduced-motion) {
      #logo{
        animation: none;
      }
  }
  @media print{
      body{
          background-image: none;
      }
      .card > ul li:first-child::before{
        content: "👍";
      }
      .card > ul li:last-child::before{
        content: "👍";
      }
      .card > ul li:nth-child(2)::after{
        content: "👍";
      }
      #gallery{
          display: none
      }
      .gallery{
          display: none;
      }
      .card{
          border: 2px solid #45ADDD;
          flex-basis: 250px;
      }
      .card{
        flex-basis: 250px;
        width: 250px;
        flex-direction: row;
        align-items:space-evenly;
    }
    .pricing{
        flex-direction: row;
        align-items:center;
    }
    .card header{
        position:static;
        justify-content: center;
    }
  }
